<ol class="flex flex-wrap  items-center font-medium" itemscope itemtype="https://schema.org/BreadcrumbList">
    {% for obItem in arBreadcrumbs %}
        <li class="py-2 flex items-center duration-300 hover:text-blue-500 {{ loop.last ? 'text-primary' : 'text-gray-500' }}" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            {% if not loop.last %}
                {% if loop.first %}
                    {{ svg('heroicon-o-home', 'w-6 h-6 mr-4') }}
                {% endif %}
                <a class="breadcrumbs__link" href="{{ obItem.url }}" itemprop="item">
                    <span class="breadcrumbs__name" itemprop="name">{{ obItem.title }}</span>
                </a>
                {{ svg('heroicon-o-chevron-right', 'w-6 h-6 mx-4') }}
            {% else %}
                <span class="breadcrumbs__name" itemprop="name">{{ obItem.title }}</span>
            {% endif %}
            <meta itemprop="position" content="{{ loop.index }}">
        </li>
    {% endfor %}
</ol>
