<a href="{{ url }}" class="group flex flex-col rounded-2xl border-2 border-transparent p-4 lg:p-10 duration-300 hover:bg-violet-50 hover:border-violet-500">
    {% if svg  %}
        <span class="self-start text-violet-600 bg-violet-500/10 p-3 rounded-full mb-4 duration-300 group-hover:bg-violet-600 group-hover:text-violet-100">
            {{ svg(svg, 'w-6 h-6') }}
        </span>
    {% endif %}
    <div>
        <h3 class="font-semibold text-xl">{{ title }}</h3>
        <p class="mt-1 text-gray-500">{{ description }}</p>
    </div>
</a>
