<footer class="border-t text-gray-500">
    <div class="container flex items-center justify-between py-6">
        <p>Copyright © 2017 - {{ carbon('now').format('Y') }}. Сайт сделан компанией Альбус. Все права защищены.</p>
        <nav class="flex gap-5">
            <a href="http://" target="_blank" rel="noopener noreferrer">Terms</a>
            <a href="http://" target="_blank" rel="noopener noreferrer">License</a>
            <a href="http://" target="_blank" rel="noopener noreferrer">FAQ</a>
        </nav>
    </div>
</footer>
