description = "Инструкция"

[staticPage]
useContent = 1
default = 0

[staticBreadcrumbs]
==
{variable name="svg_icon" label="SVG иконка" tab="Оформление" type="text"}{/variable}
{variable name="banner" label="Banner" tab="Оформление" type="mediafinder" mode="image"}{/variable}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ this.page.title }}</title>
    <link href="https://fonts.cdnfonts.com/css/tt-commons" rel="stylesheet">
    {{ vite([ 'resources/css/app.css' ]) }}
</head>
<body class="flex flex-col min-h-screen">
    {% include 'common/header/container' %}
    <main class="grow">
        <section class="relative border-b isolate">
{#            <img class="absolute w-full h-full object-cover z-[-2]" src="{{ banner | media }}" alt="{{ this.page.title }}">#}
{#            <div class="absolute inset-0 bg-black/50 z-[-1]"></div>#}
            <div class="container py-6">
                {% if breadcrumbs %}
                    {% partial 'common/breadcrumbs/items' arBreadcrumbs=breadcrumbs %}
                {% endif %}
                <h1 class="text-4xl font-semibold mt-2">{{ this.page.title }}</h1>
            </div>
        </section>
        <div class="container py-12">
            <div class="prose prose-xl max-w-none prose-p:my-0 prose-a:duration-300 prose-a:text-violet-500 hover:prose-a:text-blue-500">
                {% page %}
            </div>
        </div>
    </main>
    {% include 'common/scripts' %}
    {% include 'common/footer' %}
</body>
</html>
